* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  --bg-color: #282c34;
  --bg-color-second: #17191e;
  --txt_color: #ffffff;

  --txt-o: #7cefa2;
  --txt-x: #e421c0;
  --bg-win: #fdf9f0;
}

